.container{
     display: flex;
}
@media (max-width:500px) {
     .container{
          flex-direction: column;
          padding: 20px;
         
     }
     .section-img{
          margin: 0 auto;
     }
     
      .section-decription{
              width: 50%;
               text-align: center;
               margin: 0 auto;
          }
}